USE [TesteMVC]
GO
/****** Object:  Table [dbo].[GRUPO]    Script Date: 06/24/2014 14:14:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GRUPO](
	[IDGRUPO] [int] IDENTITY(1,1) NOT NULL,
	[NOMEGRUPO] [varchar](4000) NOT NULL,
 CONSTRAINT [PK_GRUPOS] PRIMARY KEY CLUSTERED 
(
	[IDGRUPO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CIDADE]    Script Date: 06/24/2014 14:14:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CIDADE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](4000) NOT NULL,
	[SIGLA] [varchar](4000) NOT NULL,
 CONSTRAINT [PK_CIDADE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CARACTERISTICA]    Script Date: 06/24/2014 14:14:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CARACTERISTICA](
	[IDCARACTERISTICA] [int] IDENTITY(1,1) NOT NULL,
	[DESCRICAO] [varchar](4000) NOT NULL,
 CONSTRAINT [PK_CARACTERISTICA] PRIMARY KEY CLUSTERED 
(
	[IDCARACTERISTICA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BAIRRO]    Script Date: 06/24/2014 14:14:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BAIRRO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDCIDADE] [int] NOT NULL,
	[NOME] [varchar](4000) NOT NULL,
	[SIGLA] [varchar](4000) NULL,
 CONSTRAINT [PK_BAIRRO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 06/24/2014 14:14:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](4000) NOT NULL,
	[SOBRENOME] [varchar](4000) NOT NULL,
	[EMAIL] [varchar](400) NOT NULL,
	[DATANASCIMENTO] [datetime] NOT NULL,
	[CPF] [varchar](4000) NOT NULL,
	[FOTO] [image] NULL,
	[SENHA] [varchar](4000) NOT NULL,
	[IDGRUPO] [int] NULL,
	[LOGIN] [varchar](4000) NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IMOVEL]    Script Date: 06/24/2014 14:14:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IMOVEL](
	[IDIMOVEL] [int] IDENTITY(1,1) NOT NULL,
	[TITULO] [varchar](4000) NOT NULL,
	[DESCRICAO] [varchar](4000) NOT NULL,
	[QTDEQUARTOS] [int] NOT NULL,
	[QTDEBANHEIROS] [int] NOT NULL,
	[QTDEVAGASGARAGEM] [int] NOT NULL,
	[VALOR] [float] NOT NULL,
	[METRAGEM] [varchar](4000) NOT NULL,
	[IDUSUARIO] [int] NOT NULL,
	[TIPO] [int] NOT NULL,
	[CONDOMINIO] [float] NULL,
	[IPTU] [float] NULL,
	[IDADEIMOVEL] [int] NULL,
	[QTDESUITES] [int] NOT NULL,
	[QTDESALAS] [int] NOT NULL,
	[QTDEUNIDADESPORANDAR] [int] NULL,
	[LISTACARACTERISTICAS] [varchar](4000) NULL,
	[SITUACAO] [int] NOT NULL,
	[IDBAIRRO] [int] NOT NULL,
	[IDCIDADE] [int] NOT NULL,
 CONSTRAINT [PK_IMOVEL] PRIMARY KEY CLUSTERED 
(
	[IDIMOVEL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IMAGEMIMOVEL]    Script Date: 06/24/2014 14:14:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMAGEMIMOVEL](
	[IDIMAGEM] [int] NOT NULL,
	[IMAGEM] [image] NOT NULL,
	[IDIMOVEL] [int] NOT NULL,
 CONSTRAINT [PK_IMAGEMIMOVEL] PRIMARY KEY CLUSTERED 
(
	[IDIMAGEM] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_BAIRRO_CIDADE]    Script Date: 06/24/2014 14:14:13 ******/
ALTER TABLE [dbo].[BAIRRO]  WITH CHECK ADD  CONSTRAINT [FK_BAIRRO_CIDADE] FOREIGN KEY([IDCIDADE])
REFERENCES [dbo].[CIDADE] ([ID])
GO
ALTER TABLE [dbo].[BAIRRO] CHECK CONSTRAINT [FK_BAIRRO_CIDADE]
GO
/****** Object:  ForeignKey [FK_IMAGEMIMOVEL_IMOVEL]    Script Date: 06/24/2014 14:14:13 ******/
ALTER TABLE [dbo].[IMAGEMIMOVEL]  WITH CHECK ADD  CONSTRAINT [FK_IMAGEMIMOVEL_IMOVEL] FOREIGN KEY([IDIMOVEL])
REFERENCES [dbo].[IMOVEL] ([IDIMOVEL])
GO
ALTER TABLE [dbo].[IMAGEMIMOVEL] CHECK CONSTRAINT [FK_IMAGEMIMOVEL_IMOVEL]
GO
/****** Object:  ForeignKey [FK_IMOVEL_BAIRRO]    Script Date: 06/24/2014 14:14:13 ******/
ALTER TABLE [dbo].[IMOVEL]  WITH CHECK ADD  CONSTRAINT [FK_IMOVEL_BAIRRO] FOREIGN KEY([IDBAIRRO])
REFERENCES [dbo].[BAIRRO] ([ID])
GO
ALTER TABLE [dbo].[IMOVEL] CHECK CONSTRAINT [FK_IMOVEL_BAIRRO]
GO
/****** Object:  ForeignKey [FK_IMOVEL_CIDADE]    Script Date: 06/24/2014 14:14:13 ******/
ALTER TABLE [dbo].[IMOVEL]  WITH CHECK ADD  CONSTRAINT [FK_IMOVEL_CIDADE] FOREIGN KEY([IDCIDADE])
REFERENCES [dbo].[CIDADE] ([ID])
GO
ALTER TABLE [dbo].[IMOVEL] CHECK CONSTRAINT [FK_IMOVEL_CIDADE]
GO
/****** Object:  ForeignKey [FK_IMOVEL_USUARIO]    Script Date: 06/24/2014 14:14:13 ******/
ALTER TABLE [dbo].[IMOVEL]  WITH CHECK ADD  CONSTRAINT [FK_IMOVEL_USUARIO] FOREIGN KEY([IDUSUARIO])
REFERENCES [dbo].[USUARIO] ([ID])
GO
ALTER TABLE [dbo].[IMOVEL] CHECK CONSTRAINT [FK_IMOVEL_USUARIO]
GO
/****** Object:  ForeignKey [FK_USUARIO_GRUPO]    Script Date: 06/24/2014 14:14:13 ******/
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_GRUPO] FOREIGN KEY([IDGRUPO])
REFERENCES [dbo].[GRUPO] ([IDGRUPO])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_GRUPO]
GO
