<div class="row">
	<div id="breadcrumb" class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="index.html">Dashboard</a></li>
			<li><a href="#">Forms</a></li>
			<li><a href="#">Forms elements</a></li>
		</ol>
	</div>
</div>
<div style="margin-top:5px;">
Nothing here {{'yet' + '!'}}
<ul>
    <li ng-repeat="usuario in usuarios"><a href="#Usuario/{{usuario.ID}}">{{usuario.ID}}
        - {{usuario.Nome}}</a> </li>
</ul>
<input type="button" value="ir para login" name="ir para login" ng-click="IrParaLogin()" />

</div>
