<table >
    <tr>
        <td>
            Usuario
        </td>
        <td>
            <input type="text" ng-model="Login" />
        </td>
    </tr>
    <tr>
        <td>
            Senha
        </td>
        <td>
            <input type="text" ng-model="Senha" />
        </td>
    </tr>
    <tr>
        <td>
            <input type="button" value="Voltar" ng-click="Voltar()" />
        </td>
        <td>
            <input type="button" value="Logar" name="Logar" title="Confirmar" ng-click="LogarUsuario()" />
        </td>
    </tr>
</table>
