<div class="row">
    <div id="breadcrumb" class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="#">Cadastro</a></li>
            <li><a href="#">Usuario</a></li>
        </ol>
    </div>
</div>
<h4 class="page-header">
    Cadastro de Usuário</h4>
<form class="form-horizontal" data-toggle="validator" role="form" method="post">
<div class="form-group">
    <label style="margin-left: 5px; width: auto;" class="col-sm-2 control-label">
        Nome</label>
    <div class="col-sm-6">
        <input type="text" class="form-control" placeholder="Nome" data-toggle="tooltip"
            data-placement="bottom" title="Nome">
    </div>
</div>
<div class="form-group">
    <label style="margin-left: 5px; width: auto;" class="col-sm-2 control-label">
        Email</label>
    <div class="col-sm-5">
        <input type="text" class="form-control" name="email" placeholder="Email" />
    </div>
</div>
<div class="form-group has-error has-feedback">
    <label style="margin-left: 5px; width: auto;" class="col-sm-2 control-label">
        Date</label>
    <div class="col-sm-2">
        <input type="text" id="input_date" class="form-control" customdatepicker/>
        <span class="fa fa-calendar txt-danger form-control-feedback"></span>
    </div>
</div>
</form>
<script type="text/javascript">
    // Run Select2 plugin on elements
    function DemoSelect2() {
        $('#s2_with_tag').select2({ placeholder: "Select OS" });
        $('#s2_country').select2();
    }
    // Run timepicker
    function DemoTimePicker() {
        $('#input_time').timepicker({ setDate: new Date() });
    }
    $(document).ready(function () {
        // Create Wysiwig editor for textare
        TinyMCEStart('#wysiwig_simple', null);
        TinyMCEStart('#wysiwig_full', 'extreme');
        // Add slider for change test input length
        FormLayoutExampleInputLength($(".slider-style"));
        // Initialize datepicker
        $('#input_date').datepicker({ setDate: new Date() });
        // Load Timepicker plugin
        LoadTimePickerScript(DemoTimePicker);
        // Add tooltip to form-controls
        $('.form-control').tooltip();
        LoadSelect2Script(DemoSelect2);
        // Load example of form validation
        LoadBootstrapValidatorScript(DemoFormValidator);
        // Add drag-n-drop feature to boxes
        WinMove();
    });
</script>
